*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: rgb(44, 44, 44);
    color: whitesmoke;
}
form{
    width: 90%;
    margin: 20px auto;
}
input{
    width: 30%;
    height: 25px;
    background-color: rgb(14, 14, 14);
    border: none;
    border-radius: 3px;
    color: whitesmoke;
}
#name{
    margin-left: 30px;
}
#age{
    margin-left: 43px;
}
#job{
    margin-left: 45px;
}
button{
    width: 60%;
    height: 30px;
    border: none;
    background-color: teal;
    border-radius: 15px;
    cursor: pointer;

}
button:hover{
    background-color: rgb(33, 192, 192);
}


