a {
    color: brown;
    text-decoration: none;
}

.header {
    color: rgb(157, 14, 14);
}

.design {
    color: rgb(18, 160, 160);
}


        label{
            display: inline-block;
            width: 180px;
        }
